<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Bachelor courses</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container text-center">
	<div>
		<form th:action="@{/logout}" method="post">
			<p>
				Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
			</p>
			<input type="submit" value="Sign Out" />
		</form>
	</div>
	<div>
		<h1>List of all Departments</h1>
	</div>
	
	<div>
		<table class="table table-striped table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>Department ID</th>
					<th>Department Name</th>
					<th>Graduation Years</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="dept: ${listDept}">
					<td th:text="${dept.deptid}">Department ID</td>
					<td th:text="${dept.deptname}">Department Name</td>
					<td th:text="${dept.gradyrs}">Graduation Years</td>
					<td><a th:href="@{/showCourses/{id}(id=${dept.deptid})}" class="btn btn-primary">Go To</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>